%h1 Actor view
%name= @actor.name

%h2 Rewards I'm offering (not done yet):
- if @actor.provided_incentives.incomplete.empty?
  (none)
- else
  %ul
    - @actor.provided_incentives.incomplete.each do |incentive|
      %li
        - if incentive.claimant
          = form_tag :controller => "incentives", :action => "validate", :id => incentive.id do
            = hidden_field_tag :_method, "put"
            = hidden_field_tag :id, incentive.id
            #{incentive.action.name} - #{incentive.name} (claimed by #{incentive.claimant.name})
            = submit_tag "It's Done"
        -else
          #{incentive.action.name} - #{incentive.name} (not yet claimed)

%h2 Rewards I'm offering (done):
- if @actor.provided_incentives.complete.empty?
  (none)
- else
  %ul
    - @actor.provided_incentives.complete.each do |incentive|
      %li #{incentive.action.name} - #{incentive.name}

%h2 Rewards I'm claiming (not done yet):
- if @actor.incentives.incomplete.empty?
  (none)
- else
  %ul
    - @actor.incentives.incomplete.each do |incentive|
      %li #{incentive.action.name} - #{incentive.name}

%h2 Rewards I've claimed (done):
- if @actor.incentives.complete.empty?
  (none)
- else
  %ul
    - @actor.incentives.complete.each do |incentive|
      %li #{incentive.action.name} - #{incentive.name}
