%h1 Find stuff to do
%table
  %thead
    %th Who needs help?
    %th Who cares about it?
    %th What can you do?
  %tbody
    - @incentives.each do |incentive|
      %tr
        %td
          = incentive.action.cause.name
          needs
          =  incentive.action.name
        %td
          =# incentive.supporter.name
          {TBD} will
          = incentive.name
        %td
          = link_to "I'll do it", incentive
          or
          = link_to "I'll offer a reward", new_incentive_path(:action_id => incentive.action.id)
