%h1 Find stuff to do
%ul
  - @incentives.each do |incentive|
    %li
      = link_to incentive.action.name, incentive.action
      = "/"
      = incentive.name
      = ":"
      = link_to "Claim", incentive
