%table
  %thead
    %th Who needs help?
    %th Who else is helping?
    %th How will you take action?
  %tbody
    - @incentives.each do |incentive|
      %tr
        %td.activity{ :data => {:tooltip => incentive.activity.cause.description} }
          = render :partial => "shared/vote", :locals => {:target => incentive.activity}
          -if incentive.activity.cause.description
            = link_to incentive.activity.cause.name, incentives_path(:cause_id => incentive.activity.cause.id)
            needs
            =  incentive.activity.name
          -else
            = incentive.activity.cause.name
            needs
            =  incentive.activity.name
          .clear
        %td.incentive
          = render :partial => "shared/vote", :locals => {:target => incentive}
          = link_to incentive.supporter.name, incentive.supporter
          will
          = incentive.name
        %td.links
          - if incentive.provider == current_user
            this is your reward!
          - else
            = link_to "Do the work", incentive, :class => "button"
            or
            = link_to "Support the work", new_incentive_path(:activity_id => incentive.activity.id), :class => "button"

-if Activity.all.count > Incentive.all.count
  These activities don't have anyone offering to support them yet...  want to offer to help someone do them or an incentive for getting them done?

  %table
    %thead
      %th Who needs help?
      %th How will you take action?
    %tbody
      - @activities.each do |activity|
        -if activity.incentives.size < 1
          %tr
            %td.activity{ :data => {:tooltip => activity.cause.description} }
              = render :partial => "shared/vote", :locals => {:target => activity}
              -if activity.cause.description
                = link_to activity.cause.name
                needs
                =  activity.name
              -else
                = activity.cause.name
                needs
                =  activity.name
              .clear
            %td.links
              = link_to "Do the work", activity, :class => "button"
              or
              = link_to "Support the work", new_incentive_path(:activity_id => activity.id), :class => "button"

