= form_for @incentive do |f|
  .panel
    .action
      %h1 Who needs help?
      %h2 #{@action.cause.name} needs #{@action.name}
      %h3= @action.description
    .incentive
      %h1 What will you do in return?
      = hidden_field :incentive, :supporter_id
      = hidden_field :incentive, :action_id
      %p I will...
      %p.text= f.text_field :name
      %p More details:
      %p.text= f.text_area :description, :rows => 3
    .links
      .confirm= submit_tag "Save", :class => :button
      .fine_print
        You'll be commited to providing this reward to the first person who completes the task.
        You'll be responsible for determining when the task has been completed.
        = raw "(#{link_to "cancel", incentives_path})"
      .clear
