.panel
  -if @user == current_user
    =semantic_form_for @user do |f|
      =f.inputs :name
      =f.buttons

  .activity
    %h1= @user.name
    %h3 User profile
  .incentive
    %h3 Offered Rewards:
    - if @user.provided_incentives.incomplete.empty?
      (none)
    - else
      %ul
        - @user.provided_incentives.incomplete.each do |incentive|
          %li
            - if incentive.performed
              #{incentive_summary incentive} (completed by #{incentive.claimant.name})
            - elsif incentive.claimant
              = form_tag :controller => "incentives", :activity => "validate", :id => incentive.id do
                = hidden_field_tag :_method, "put"
                = hidden_field_tag :id, incentive.id
                #{incentive_summary incentive} (claimed by #{incentive.claimant.name})
                = submit_tag "It's Done", :class => :button
            - else
              #{incentive_summary incentive} (not yet claimed)

    %h3 Claimed Rewards:
    - if @user.incentives.empty?
      (none)
    - else
      %ul
        - @user.incentives.incomplete.each do |incentive|
          %li
            = incentive_summary incentive
            - if incentive.performed
              (done)

  .links
    .confirm= link_to "Back to home", incentives_path, :class => :button
    .clear
