<!DOCTYPE html>
<html>
<head>
  <title>Actionarium</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_nav">
  <% if logged_in_actor %>
    Welcome, <%= logged_in_actor.name %>!
    <%= link_to "Sign Out", signout_path %>
  <% else %>
    Welcome, <%= current_actor.name %>!
    <%= link_to "Sign in with Twitter", "/auth/twitter" %>
  <% end %>
</div>

<% if flash[:warning] or flash[:notice] %>
  <div class="notice">
    <%= flash[:warning] || flash[:notice] %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
