<!DOCTYPE html>
<html>
<head>
  <title>Causaction</title>
  <%= render :partial => 'fonts' %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
  <div class="logo">
    <a href="/incentives">Caus<span class="light">action</span></a>
  </div>
  <div class="nav">
    <% if logged_in_actor %>
      Welcome, <%= logged_in_actor.name %>!
      <%= link_to "Sign Out", signout_path %>
    <% else %>
      Welcome, <%= current_actor.name %>!
      <%= link_to "Sign in with Twitter", "/auth/twitter" %>
    <% end %>
  </div>
</div>

<% if flash[:warning] or flash[:notice] %>
  <div class="notice">
    <%= flash[:warning] || flash[:notice] %>
  </div>
<% end %>

<div class="content">
  <%= yield %>
<div>

</body>
</html>
